
/* Plugin styling */
.imdbRatingPlugin {
    background: #f5de50;
	padding: 5px 1px;
}
/* Opacity change on hover */
.imdbRatingPlugin:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
.imdbRatingPlugini {
    background: #2121ac;
	color: #9fa5a5;
	padding: 7px 10px;
}
